In [1]:
import pandas as pd
import operator

data = pd.read_csv(r'pre3_Sunny.csv', header=0, encoding = "utf8", error_bad_lines=False)
review = data['text']

print(review)

0       ok kept searching review figure needed create ...
1       update post originally purchased bike june bit...
2       little maintenance bought sunny spin bike late...
3       initially purchased bike absolutely loved easy...
4       purchased cycle year warranty package assembly...
                              ...
2925                                         bike garbage
2926                                           great bike
2927    fitment terrible nothing pretty feature get jo...
2928                                              amazing
2929    someone tell handlebar adjust forward back wel...
Name: text, Length: 2930, dtype: object

In [2]:
import nltk
from pprint import pprint

In [4]:
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package punkt to /Users/yebin1/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/yebin1/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/yebin1/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/yebin1/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /Users/yebin1/nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to /Users/yebin1/nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [5]:
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 
import string

words = []
word_counts={}
for i in range(len(review)):
    stop_words = set(stopwords.words('english'))
    punctuation = string.punctuation
    tokens = str(review[i]).split()
    result = []
    for w in tokens:
        if w not in stop_words and w not in punctuation:
            result.append(w)
    pos_result = nltk.pos_tag(result)
    
    nouns = [word for word,pos in pos_result if pos in ['NN','NNP','NNS','NNPS']]
    
    for word in nouns:
        if word not in words:
            words.append(word) 
        previous_count=word_counts.get(word,0)
        word_counts[word]=previous_count+1
word_counts=sorted(word_counts.items(),key=operator.itemgetter(1),reverse=True)

In [6]:
data_frame = pd.DataFrame(word_counts)
data_frame

              0     1
0          bike  3530
1          seat  1376
2         price   807
3          time   666
4           use   598
...         ...   ...
3398       hire     1
3399  repairman     1
3400      wrong     1
3401      exact     1
3402    lossing     1

[3403 rows x 2 columns]

In [7]:
data_frame.to_csv("sunny_nouns.csv", mode='w', encoding="utf-8-sig")