In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r'/Users/yebin1/Desktop/4학년2학기/02_비정형데이터분석/중간발표/결과값/pre_review_Sunny.csv',encoding='utf-8')

In [3]:
data.head()

,Unnamed: 0,star,helpful,title,text
0,0,5.0,488,Items needed to create a pton hack,review figure create version pton trial error ...
1,1,5.0,"1,892",Review After Year One,post bike june bit price intention use fitness...
2,2,4.0,590,Good bike for the price. Just do a little reg...,maintenance spin bike september time week coup...
3,3,1.0,902,Completely broke at 4 months!,bike novice footprint ipad video odometer meas...
4,4,1.0,185,DO NOT BUY THIS CYCLE!,cycle year warranty package cycle assembler no...

In [4]:
text = data['text']

In [5]:
text

0       review figure create version pton trial error ...
1       post bike june bit price intention use fitness...
2       maintenance spin bike september time week coup...
3       bike novice footprint ipad video odometer meas...
4       cycle year warranty package cycle assembler no...
                              ...
2925                                         bike garbage
2926                                                 bike
2927    fitment features.gets job pay for.i money some...
2928                                              amazing
2929                  someone tell handlebar height model
Name: text, Length: 2930, dtype: object

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(ngram_range=(1,1), stop_words = 'english') # You can define your own parameters
X = cv.fit_transform(text.values.astype('U'))

In [7]:
Co_ocurrence = (X.T * X) # This is the matrix manipulation step
Co_ocurrence.setdiag(0)

In [8]:
import pandas as pd
names = cv.get_feature_names() # This are the entity names (i.e. keywords)
df = pd.DataFrame(data = Co_ocurrence.toarray(), columns = names, index = names)
df.to_csv('to gephi_sunny.csv', sep = ',')